<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Show:</b>
  <%= @question.show_id %>
</p>

<p>
  <b>Irc user:</b>
  <%= @question.irc_user_id %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
