<h1>Listing irc_users</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @irc_users.each do |irc_user| %>
  <tr>
    <td><%= irc_user.name %></td>
    <td><%= link_to 'Show', irc_user %></td>
    <td><%= link_to 'Edit', edit_irc_user_path(irc_user) %></td>
    <td><%= link_to 'Destroy', irc_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Irc user', new_irc_user_path %>
