<p id="notice"><%= notice %></p>

<h2>
	<%= @irc_user.name %> has <%= pluralize(@vote_count, 'vote') %> on <%= pluralize(@titles.count, 'title') %>
	<% if @titles.count > 0 %>
	(<%= (@vote_count/@titles.count.to_f).round(2) %> average)
	<% end %>
</h2>

<table class="table">
  <tr>
    <th>Show</th>
    <th>Title</th>
    <th>Votes</th>
  </tr>

<% @titles.each do |title| %>
  <tr>
    <td><%= title.show.title %> <%= title.show.episode_number %></td>
    <td><%= title.title %></td>
    <td><%= title.votes_count %></td>
  </tr>
<% end %>
</table>

