<h1>Listing API keys</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apis.each do |api| %>
  <tr>
    <td><%= api.name %></td>
    <td><%= api.key %></td>
    <td><%= link_to 'Show', admin_api_path(api) %></td>
    <td><%= link_to 'Edit', edit_admin_api_path(api) %></td>
    <td><%= link_to 'Destroy', admin_api_path(api), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New API Key', new_admin_api_path %>
