<!DOCTYPE html>
<html>
<head>
  <title>Shewbot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
	<%= link_to "IRC Users", irc_users_path %>
	<%= link_to "Titles", titles_path %>
	<%= link_to "Votes", votes_path %>
	<%= link_to "Shows", shows_path %>
</p>


<%= yield %>

</body
</html>
