<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to 'Showbot', root_url, class: "navbar-brand" %>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collape">
			<% if admin? %>

				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Users", admin_users_path %></li>
							<li><%= link_to "Irc Users", admin_irc_users_path %></li>
							<li><%= link_to "Shows", admin_shows_path %></li>
							<li><%= link_to "Titles", admin_titles_path %></li>
							<li><%= link_to "Votes", admin_votes_path %></li>
							<li><%= link_to "API Keys", admin_apis_path %></li>
						</ul>
					</li>
				</ul>
			
			<% end %>
				<p class="navbar-text pull-right">
					Don't refresh, jerks!
				</p>
				<p class="navbar-text pull-right">
					<% if current_user %>
						Hello <%= current_user.name %>
					<% elsif Settings.show_twitter_auth %>
						<%= link_to "Twitter Auth", "/auth/twitter" %>
					<% end %>
				</p>
			</div>
		</nav>

		<%= yield %>

		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
